html    
    head
        
        //- bower:css
        link(rel='stylesheet', href='/lib/bootstrap/dist/css/bootstrap.min.css')
        link(rel='stylesheet', href='/lib/font-awesome/css/font-awesome.min.css')
        //- endbower
        
        title MyApp
    body(class="myClass")
        h1(id="myId") My app
        p
            h3 Sub Heading
        ul  
            each val in list
                li=val